USE [UFO_SCM]
GO
/****** Object:  Table [dbo].[CO_ExcelExportSQL]    Script Date: 2021/5/8 0:08:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CO_ExcelExportSQL](
	[Id] [uniqueidentifier] NOT NULL,
	[TemplateType] [tinyint] NOT NULL,
	[TemplateCode] [nvarchar](50) NULL,
	[TemplateName] [nvarchar](200) NULL,
	[TemplateUrl] [nvarchar](500) NOT NULL,
	[SourceType] [int] NOT NULL,
	[SourceUrl] [nvarchar](500) NULL,
	[ExportHead] [text] NOT NULL,
	[ExecSQL] [text] NOT NULL,
	[Status] [tinyint] NOT NULL,
	[ExecMaxCountPer] [int] NOT NULL,
	[MainTableSign] [nvarchar](50) NOT NULL,
	[OrderField] [nvarchar](20) NULL,
	[Sort] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[CreateUser] [nvarchar](50) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[ModifyUser] [nvarchar](50) NULL,
	[ModifyTime] [datetime] NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_CO_EXCELEXPORTSQL] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CO_ExcelExportSQLLog]    Script Date: 2021/5/8 0:08:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CO_ExcelExportSQLLog](
	[Id] [uniqueidentifier] NOT NULL,
	[ParentId] [uniqueidentifier] NOT NULL,
	[TemplateSQL] [text] NULL,
	[ExportSQL] [text] NULL,
	[ExportParameters] [text] NULL,
	[ExportDuration] [decimal](18, 0) NOT NULL,
	[Status] [tinyint] NOT NULL,
	[ExportMsg] [nvarchar](200) NULL,
	[DownLoadUrl] [nvarchar](500) NULL,
	[DownLoadCount] [tinyint] NULL,
	[FileName] [nvarchar](200) NULL,
	[FileSize] [nvarchar](50) NULL,
	[ExportCount] [int] NULL,
	[ExecCount] [int] NOT NULL,
	[TenantId] [uniqueidentifier] NULL,
	[CreateUserId] [uniqueidentifier] NULL,
	[CreateUser] [nvarchar](50) NULL,
	[CreateTime] [datetime] NULL,
	[ModifyUser] [nvarchar](50) NULL,
	[ModifyTime] [datetime] NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_CO_EXCELEXPORTSQLLOG] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CO_ExcelExportSQL] ADD  DEFAULT ((0)) FOR [TemplateType]
GO
ALTER TABLE [dbo].[CO_ExcelExportSQL] ADD  DEFAULT ((0)) FOR [SourceType]
GO
ALTER TABLE [dbo].[CO_ExcelExportSQL] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[CO_ExcelExportSQL] ADD  DEFAULT ((0)) FOR [ExecMaxCountPer]
GO
ALTER TABLE [dbo].[CO_ExcelExportSQL] ADD  DEFAULT ((0)) FOR [Sort]
GO
ALTER TABLE [dbo].[CO_ExcelExportSQL] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[CO_ExcelExportSQLLog] ADD  DEFAULT ((0)) FOR [ExportDuration]
GO
ALTER TABLE [dbo].[CO_ExcelExportSQLLog] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[CO_ExcelExportSQLLog] ADD  DEFAULT ((0)) FOR [DownLoadCount]
GO
ALTER TABLE [dbo].[CO_ExcelExportSQLLog] ADD  DEFAULT ((0)) FOR [ExportCount]
GO
ALTER TABLE [dbo].[CO_ExcelExportSQLLog] ADD  DEFAULT ((1)) FOR [ExecCount]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CO_ExcelExportSQL', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'模板类型' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CO_ExcelExportSQL', @level2type=N'COLUMN',@level2name=N'TemplateType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'模板编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CO_ExcelExportSQL', @level2type=N'COLUMN',@level2name=N'TemplateCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'模板名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CO_ExcelExportSQL', @level2type=N'COLUMN',@level2name=N'TemplateName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'模板附件Url' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CO_ExcelExportSQL', @level2type=N'COLUMN',@level2name=N'TemplateUrl'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'来源类型' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CO_ExcelExportSQL', @level2type=N'COLUMN',@level2name=N'SourceType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'执行路径' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CO_ExcelExportSQL', @level2type=N'COLUMN',@level2name=N'SourceUrl'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'执行SQL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CO_ExcelExportSQL', @level2type=N'COLUMN',@level2name=N'ExecSQL'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'状态' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CO_ExcelExportSQL', @level2type=N'COLUMN',@level2name=N'Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否删除' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CO_ExcelExportSQL', @level2type=N'COLUMN',@level2name=N'IsDelete'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CO_ExcelExportSQL', @level2type=N'COLUMN',@level2name=N'CreateUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CO_ExcelExportSQL', @level2type=N'COLUMN',@level2name=N'CreateTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CO_ExcelExportSQL', @level2type=N'COLUMN',@level2name=N'ModifyUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CO_ExcelExportSQL', @level2type=N'COLUMN',@level2name=N'ModifyTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'行版本号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CO_ExcelExportSQL', @level2type=N'COLUMN',@level2name=N'RowVersion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Excel导出SQL模板' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CO_ExcelExportSQL'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主键' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CO_ExcelExportSQLLog', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'模板Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CO_ExcelExportSQLLog', @level2type=N'COLUMN',@level2name=N'ParentId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'导出模板SQL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CO_ExcelExportSQLLog', @level2type=N'COLUMN',@level2name=N'TemplateSQL'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'导出实际SQL' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CO_ExcelExportSQLLog', @level2type=N'COLUMN',@level2name=N'ExportSQL'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'导出参数' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CO_ExcelExportSQLLog', @level2type=N'COLUMN',@level2name=N'ExportParameters'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'导出时间（秒）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CO_ExcelExportSQLLog', @level2type=N'COLUMN',@level2name=N'ExportDuration'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'导出状态' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CO_ExcelExportSQLLog', @level2type=N'COLUMN',@level2name=N'Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'导出结果' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CO_ExcelExportSQLLog', @level2type=N'COLUMN',@level2name=N'ExportMsg'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'执行次数' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CO_ExcelExportSQLLog', @level2type=N'COLUMN',@level2name=N'ExecCount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建人Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CO_ExcelExportSQLLog', @level2type=N'COLUMN',@level2name=N'CreateUserId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CO_ExcelExportSQLLog', @level2type=N'COLUMN',@level2name=N'CreateUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CO_ExcelExportSQLLog', @level2type=N'COLUMN',@level2name=N'CreateTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CO_ExcelExportSQLLog', @level2type=N'COLUMN',@level2name=N'ModifyUser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CO_ExcelExportSQLLog', @level2type=N'COLUMN',@level2name=N'ModifyTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'行版本号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CO_ExcelExportSQLLog', @level2type=N'COLUMN',@level2name=N'RowVersion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Excel导出日志' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CO_ExcelExportSQLLog'
GO
